taskorganizer/TaskFile.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Task">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Desc" type="xs:string" />
              <xs:element name="Type">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="key" type="xs:string" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ticket" type="xs:string" />
              <xs:element name="Link" type="xs:string" />
              <xs:element name="Notes" type="xs:string" />
              <xs:element name="Complete" type="xs:boolean" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>